body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 12px;
}

h1 {
  text-align: center;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}